<template>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top ">
        <a class="navbar-brand" href="/">Jojonomic</a>
        <button class="navbar-toggler" @click="handleClickToggle" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent" v-bind:class="{'show' : !isCollapse}">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <nuxt-link to="/" class="nav-link">Home <span class="sr-only">(current)</span></nuxt-link>
              </li>
              <li class="nav-item active">
                <nuxt-link to="/areas" class="nav-link">Area <span class="sr-only">(current)</span></nuxt-link>
              </li>
            </ul>
          </div>
      </nav>
    </header>
</template>

<script>
  export default {
    name: 'HeaderComponent',
    data(){
      return{
        isCollapse: true
      }
    },
    methods: {
      handleClickToggle(){
        this.isCollapse = !this.isCollapse
      }
    },
  }
</script>