<template>
    <div>
        <h3>Football Competition</h3>
        <h4><span class="badge badge-success">{{ selectedArea.name }}</span></h4>
        <div class="mt-3">
            <div class="text-center" v-if="isLoading">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div v-show="!selectedArea.id" 
                class="alert alert-secondary" role="alert"
            >
                Please select one of the area to showing all available competitions.
            </div>
            <div 
                class="alert alert-warning" 
                role="alert"
                v-show="selectedArea.id && competitions.competitions.length < 1 && !isLoading"
            >
                I'm sorry, there's no available competitions in {{selectedArea.name}} right now
            </div>
            <div v-if="competitions.competitions.length >= 1 && !isLoading">
                <div class="row">
                    <div 
                        class="col-sm-6 col-lg-4 mb-3"
                        v-for="data in competitions.competitions" :key="data.id" 
                    >
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{data.name}}</h5>
                                <p class="card-text">Area : {{data.area.name}}</p>
                                <nuxt-link :to="'/competition/'+data.id" class="btn btn-primary">See Participants</nuxt-link>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'CompetitionsComponent',
    props: ['competitions', 'selectedArea'],
    computed: {
        isLoading(){
            return this.$store.state.view.isLoadingCompetitions
        }
    },
}
</script>