<template>
    <div>
        <h3>Team List</h3>
        <p>Please select Team to get football teams information</p>
        <div class="teams-wrapper list-group list-group-flush overflow-auto">
            <button 
                @click="handleClickTeam(data)"
                type="button" 
                class="list-group-item list-group-item-action" 
                v-bind:class="{'active' : selectedTeam.id === data.id}"
                v-for="data in teams.teams" :key="data.id">
                {{ data.name}}
            </button>
        </div>

        <b-button class="btn-team btn btn-success mb-3" @click="showModal = !showModal">Select Team</b-button>
        <b-modal v-model="showModal" hide-footer title="Select Team">
            <div class="d-block text-center">
                <button 
                    @click="handleClickTeamModal(data)"
                    type="button" 
                    class="list-group-item list-group-item-action" 
                    v-bind:class="{'active' : selectedTeam.id === data.id}"
                    v-for="data in teams.teams" :key="data.id">
                    {{ data.name}}
                </button>
            </div>
            
        </b-modal>
    </div>
</template>

<script>
export default {
    name: 'TeamSidebarComponent',
    props: ['selectedTeam', 'teams'],
    data(){
        return{
            showModal: false
        }
    },
    methods: {
        handleClickTeam(data){
            this.$store.commit('data/setSelectedTeam', data)
            this.fetchSquadData(data)
        },
        async fetchSquadData(data){
            try{
                const getTeamDetails = await this.$axios.get(`v2/teams/${data.id}`)
                if(getTeamDetails){
                    this.$store.commit('data/setTeamDetails', getTeamDetails.data)
                }
            } catch(err){
                console.log(err)
            }
        },
        handleClickTeamModal(data){
            this.handleClickTeam(data)
            this.showModal = !this.showModal
        }
    },
}
</script>

<style scoped>
.teams-wrapper{
    max-height: 100vh;
    height: 100%;
    border:1px solid rgba(0, 0, 0, 0.125);
    border-radius: inherit;
    display: block;
}

.btn-team{
    display: none;
    width: 100%;
}

@media (max-width: 780px){
    .teams-wrapper{
        max-height: 200px;
        display: none;
    }

    .btn-team{
        display: block;
    }
}
</style>