<template>
    <div class="container-fluid mt-3">
        <div class="text-center" v-if="isRestricted">
            <div class="alert alert-warning">
                I'm so sorry this competition data are restricted by API Provider
            </div>
        </div>

        <div class="row"  v-if="!isRestricted">
            <div class="col-sm-12 col-md-4">
                <TeamSidebar 
                    v-bind:selectedTeam="selectedTeam"
                    v-bind:teams="teams"
                />
            </div>
            <div class="col-sm-12 col-md-8">
                <h3>Team Information</h3>
                <h4><span class="badge badge-success">{{ selectedTeam.name }}</span></h4>
                <div v-show="!selectedTeam.id" 
                    class="alert alert-secondary" role="alert"
                >
                    Please select one of the team to see detail information.
                </div>

                <div class="" v-if="selectedTeam.id !== undefined">
                    <TeamInformation 
                        v-bind:selectedTeam="selectedTeam"
                        v-bind:teamDetails="teamDetails"
                    />

                    <div class="row">
                        <div class="col-sm-12">
                            <PlayerList 
                                v-bind:squadList="teamDetails"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Competition',
    data() {
        return {
            paramId: this.$route.params.id,
            isRestricted: false,
        }
    },
    components: {
        'TeamSidebar': () => import('~/components/team-sidebar'),
        'TeamInformation': () => import('~/components/team-information'),
        'PlayerList': () => import('~/components/player-list')
    },
    computed: {
        teams(){
            return this.$store.state.teams
        },
        selectedTeam(){
            return this.$store.state.data.selectedTeam
        },
        teamDetails(){
            return this.$store.state.data.teamDetails
        }
    },
    validate({ params }) {
        return /^\d+$/.test(params.id)
    },
    created() {
        this.$store.commit('data/setSelectedTeam', {})
        this.fetchTeamData()
    },
    methods: {
        async fetchTeamData(){
            try{
                const getTeamData = await this.$axios.get(`/v2/competitions/${this.paramId}/teams`)
                this.$store.commit('setTeams', getTeamData.data)
            } catch(err){
                const { data } = err.response
                if(data.errorCode === 403){
                    this.isRestricted = true
                }
            }
        },
        imgUrlAlt(event) {
            this.imageUrl = "https://via.placeholder.com/150"
        }
    },
}
</script>

<style scoped>
.team-image{
    object-fit: contain;
    max-height: 150px;
}
</style>