<template>
    <div class="">
        <h3>Squad List</h3>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Position</th>
                        <th scope="col">Date Of Birth</th>
                        <th scope="col">Nationality</th>
                        <th scope="col">Shirt Number</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(data, index) in squadList.squad" :key="data.id">
                        <th scope="row">{{index+1}}</th>
                        <td>
                            <button class="btn btn-link" @click="handleClickPlayer(data.id)">{{data.name}}</button>
                        </td>
                        <td>{{data.role}} <br/><i>{{data.position}}</i></td>
                        <td>{{data.dateOfBirth}}</td>
                        <td>{{data.nationality}}</td>
                        <td>{{data.shirtNumber}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <b-button id="show-btn" @click="$bvModal.show('bv-modal-example')">Open Modal</b-button>

        <b-modal ref="my-modal" hide-footer :title="selectedPlayer.name">
            <div class="text-center" v-if="isLoading">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div class="d-block text-center" v-if="!isLoading">
                <h3>{{selectedPlayer.name}}</h3>
                <p>Birth : {{selectedPlayer.countryOfBirth}}, {{selectedPlayer.dataOfBirth}}</p>
                <p>Nationality : {{selectedPlayer.nationality}}</p>
                <p>Position : {{selectedPlayer.position}}</p>
                <p>Shirt Number : {{selectedPlayer.shirtNumber}}</p>
            </div>
            
        </b-modal>
    </div>
</template>

<script>
export default {
    name: 'PlayerListComponent',
    props: ['squadList'],
    data(){
        return{
            isLoading: true
        }
    },
    computed: {
        selectedPlayer(){
            return this.$store.state.data.selectedPlayer
        }
    },
    methods: {
        handleClickPlayer(id){
            this.fetchPlayerDetail(id)
        },
        async fetchPlayerDetail(id){
            this.showModal()
            this.isLoading = true
            try{
                const getPlayerDetail = await this.$axios.get(`v2/players/${id}`)
                if(getPlayerDetail){
                    this.$store.commit('data/setSelectedPlayer', getPlayerDetail.data)
                }
            }catch(err){
                console.log(err)
            }
            this.isLoading = false
        },
        showModal() {
            this.$refs['my-modal'].show()
        },
        hideModal() {
            this.$refs['my-modal'].hide()
        },
    },
}
</script>