<template>
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-sm-4">
        <HomepageSidebar 
          v-bind:country="country"
          v-bind:selectedArea="selectedArea"
        />
      </div>
      <div class="col-sm-8">
        <Competitions 
          v-bind:competitions="competitions"
          v-bind:selectedArea="selectedArea"
        />
      </div>
    </div>
    
  </div>
</template>

<script>
import { mapMutations } from 'vuex'

export default {
  name: 'Areas',
  data(){
    return{}
  },
  components: {
    'HomepageSidebar': () => import('~/components/homepage-sidebar'),
    'Competitions': () => import('~/components/competitions')
  },
  created(){
    this.$store.commit('data/setSelectedArea', {})
    if(this.$store.state.areas.areas == undefined){
      this.fetchAllAreas()
    }
  },
  computed:{
    country() {
      return this.$store.state.areas
    },
    competitions() {
      return this.$store.state.data.competitions
    },
    isLoading(){
      return this.$store.state.view.isLoadingCompetitions
    },
    selectedArea(){
      return this.$store.state.data.selectedArea
    }
  },
  methods: {
    async fetchAllAreas() {
      try{
        let getAreas = await this.$axios.$get('v2/areas')
        if(getAreas){
          this.$store.commit('setAreas', getAreas)
          getAreas = ''
        }
        
      } catch(err){
        console.log(err)
      }
    }
  },
}
</script>

<style>

.title {
  font-family:
    'Quicksand',
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
