<template>
  <div class="jumbotron jumbotron-fluid text-light text-center">
    <div class="container">
      <h1 class="display-4">Football World Data</h1>
      <p class="lead">This is a platform for football holic around the world.</p>
      <p>
        This web using open API data provided by www.football-data.org. There's a limited set of data because i'm using a free version of this API
      </p>
      <nuxt-link to="/areas" class="btn btn-outline-light">Explore More</nuxt-link>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Homepage',
  data(){
    return{}
  }
}
</script>

<style>
.jumbotron{
  background: #343a40 url('~assets/soccer-bg.jpg') center center no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
  display: flex;
  align-items: center;
  height: 100vh;
  margin-bottom: 0;
}
.title {
  font-family:
    'Quicksand',
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}

.areas-wrapper{
  max-height: 100vh;
  height: 100%;
  border:1px solid rgba(0, 0, 0, 0.125);
  border-radius: inherit;
}
</style>
