<template>
    <div>
        <h3>Areas</h3>
        <p>Please select the area to get football teams information</p>
        <div class="areas-wrapper list-group list-group-flush overflow-auto">
          <button 
            @click="handleClickArea(data)"
            type="button" 
            class="list-group-item list-group-item-action" 
            v-bind:class="{'active' : selectedArea.id === data.id}"
            v-for="data in country.areas" :key="data.id">
              {{ data.name}}
          </button>
        </div>

        <b-button class="btn-area btn btn-success mb-3" @click="showModal = !showModal">Select Area</b-button>
        <b-modal v-model="showModal" hide-footer title="Select Area">
            <div class="d-block text-center">
                <button 
                    @click="handleClickAreaModal(data)"
                    type="button" 
                    class="list-group-item list-group-item-action" 
                    v-bind:class="{'active' : selectedArea.id === data.id}"
                    v-for="data in country.areas" :key="data.id">
                    {{ data.name}}
                </button>
            </div>
            
        </b-modal>
    </div>
</template>

<script>
export default {
    name: 'HomepageSidebarComponent',
    props: ['country', 'selectedArea'],
    data(){
        return{
            showModal: false
        }
    },
    methods: {
        handleClickArea(data){
            this.$store.commit('data/setSelectedArea', data)
            this.fetchCompetition(data.id)
        },
        async fetchCompetition(id){
            this.$store.commit('view/setLoadingCompetitions', true)
            try{
                let getCompetitions = await this.$axios.$get(`v2/competitions?areas=${id}`)
                if(getCompetitions){
                this.$store.commit('data/setCompetitions', getCompetitions)
                getCompetitions = ''
                }
            } catch(err){
                console.log(err)
            }
            this.$store.commit('view/setLoadingCompetitions', false)
        },
        handleClickAreaModal(data){
            this.handleClickArea(data)
            this.showModal = !this.showModal
        }
    },
}
</script>

<style>
.areas-wrapper{
  max-height: 100vh;
  height: 100%;
  border:1px solid rgba(0, 0, 0, 0.125);
  border-radius: inherit;
  display: block;
}

.btn-area{
    display: none;
    width: 100%;
}

@media (max-width: 780px){
    .areas-wrapper{
        max-height: 200px;
        display: none;
    }

    .btn-area{
        display: block;
    }
}
</style>