<template>
    <div class="card bg-light mb-3 p-3">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img 
                    v-bind:src="selectedTeam.crestUrl" class="card-img-top" alt="..."
                    @error="imgUrlAlt"
                >
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{selectedTeam.name}}</h5>
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="row">Area</th>
                                    <td>{{selectedTeam.area.name}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Shortname</th>
                                    <td>{{selectedTeam.shortName}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Address</th>
                                    <td>{{selectedTeam.address}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Phone</th>
                                    <td>{{selectedTeam.phone}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Website</th>
                                    <td>{{selectedTeam.website}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Email</th>
                                    <td>{{selectedTeam.email}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Club Colors</th>
                                    <td>{{selectedTeam.clubColors}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Venue</th>
                                    <td>{{selectedTeam.venue}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Active Competitions</th>
                                    <td>
                                        <span class="badge badge-primary mr-1"
                                            v-for="data in teamDetails.activeCompetitions" :key="data.id"
                                        >
                                            {{data.name}}
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'TeamInformationContent',
    props: ['selectedTeam', 'teamDetails'],
    methods: {
        imgUrlAlt(event) {
            this.imageUrl = "https://via.placeholder.com/150"
        }
    },
}
</script>

<style scoped>
.teams-wrapper{
    max-height: 100vh;
    height: 100%;
    border:1px solid rgba(0, 0, 0, 0.125);
    border-radius: inherit;
}
</style>